googleAnalytics: UA-58753222-2
templateTheme: bootstrap
title: MagratheaPHP
deprecated: true
todo: true
download: true
#main: Magrathea
#baseUrl: http://magrathea.platypusweb.com.br/docs
exclude:
 - *install_magrathea.php