/* header title */
#pageTitle{
	float: left;
	padding-left: 100px;
	font-weight: bold;
}
.pageTitleContainer {
	width: 1000px;
	float: left;
	margin-left: 400px;
	padding-top: 30px;
	background-color: #FFF;
	padding-bottom: 10px;
}

/* >> LOADER ----- */
#loader { 
	position: absolute; 
	background-color: rgba(0, 0, 0, 0.7); 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	z-index: 9999; 
}
#loader img { 
	width: 20px; 
	height: 20px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -10px; 
	margin-left: -10px; 
}
.brand {
	position: absolute; 
	left: 20%; 
}

.main_container {
	padding-top: 70px;
	padding-bottom: 150px;
}

/* >> MENU ----- */
ul.menu {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 250px;
    top: 70px;
}
ul.menu > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
ul.menu > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
ul.menu > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
ul.menu_sublist > li > a {
    border: 1px solid #E5E5E5;
    background-color: #F7F7F7;
    margin-top: -1px;
    margin-bottom: -1px;
		padding: 8px 50px;
}
ul.menu > li > a > span.number {
		width: 20px;
		height: 20px;
		font-size: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #000;
    float: right;
    background-color: #F3F3F3;
    text-align: center;
}

/* >> FOOTER ----- */
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 100px;
    height: 30px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 9998;
}
.footer p {
    color: #777777;
    margin-bottom: 0;
}
.footer-links {
    margin: 10px 0;
}




.mag_section{
    border: 1px solid #CCC;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-bottom: 10px;
}
.mag_section > header {
	background-color: #CCC;
	padding: 10px 20px;
}
	.mag_section > header > h3 {
		font-size: 14px;
		color: #407ec4;
		line-height: 0;
		display: inline;
	}
	.mag_section > header span.breadc {
		font-size: 14px;
		padding: 0 10px;
	}
	.mag_section > header span.breadc.active {
		font-weight: bold;
	}
	.mag_section > header span.breadc.divider {
		color: #407ec4;
	}
	.mag_section > header.hide_opt > span.arrow {
		border-left: 1px solid #407ec4;
		float: right;
	}
	.mag_section > header.hide_opt > span.arrow > a {
		width: 20px;
		height: 20px;
		width: 20px;
	}
	.mag_section > header.hide_opt > span.arrow > a > i {
		margin-left: 50%;
	}

.mag_section > content {
	display: block;
	padding: 10px;
}
	.mag_section > content > h3 {
		padding: 5px;
		padding-left: 50px;
		font-variant: small-caps;
	}
	.mag_section > content > p {
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

ul.nav-tabs { 
	margin-bottom: 0;
}
.tab-content {
	padding: 10px;
	border-top: 0;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
  border-radius: 0 0 6px 6px;
}

.collapse {
	right: 200px;
}


.right {
	text-align: right;
}
.center {
	text-align: center;
}
.icon_light {
   opacity: 0.3;
}
i{ 
	cursor: default;
}

.even {
	background-color: #F9F9F9;
}
.plugin_install {
	padding-top: 20px;
}
