.brand {
    position: absolute; 
    left: 20%; 
}

.main_container {
    padding-top: 70px;
    padding-bottom: 150px;
}

.clear {
   clear:both   
}

h1 > i {
    font-size: 22px;
    color: #005580;
}


/* >> MENU ----- */
ul.menu {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 250px;
    top: 40px;
}
ul.menu > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
ul.menu > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
ul.menu > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
ul.menu_sublist > li > a {
    border: 1px solid #E5E5E5;
    background-color: #F7F7F7;
    margin-top: -1px;
    margin-bottom: -1px;
		padding: 8px 50px;
}
ul.menu > li > a > span.number {
		width: 20px;
		height: 20px;
		font-size: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #000;
    float: right;
    background-color: #F3F3F3;
    text-align: center;
}
ul.menu > li > a > i {
    margin-right: 8px !important;
}

/* >> FOOTER ----- */
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 100px;
    height: 20px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 9998;
}
.footer p {
    color: #777777;
    margin-bottom: 0;
}
.footer-links {
    margin: 10px 0;
}



/* Autocomplete */
.ac_results {
    border-radius: 4px;
    margin-top: 2px;
    background-clip: padding-box;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.ac_results li strong {
    color: #000000;
}

.ac_over {
    background-color: #0088cc;
    color: #ffffff;
}

.ac_results li.ac_over strong {
    color: #ffffff;
}

